[submodule "data-app-gui"]
	path = data-app-gui
	url = https://github.com/AliShenanigans/data-app-gui.git
[submodule "data-app-nlp"]
	path = data-app-nlp
	url = https://github.com/AliShenanigans/data-app-nlp.git
[submodule "data-app-api"]
	path = data-app-api
	url = https://github.com/AliShenanigans/data-app-api.git
